
/* @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800'); */

* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
	/* background: #f6f5f7; */
	background: rgba(0, 0, 0, 0.94);
    background-size: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	/* z-index: 200; */
}

.create{
	color: gray;
	font-size: 32px;
}
.sign-up-container h1 {
	margin-top: 50px;
	margin-bottom: 10px;
}
.sign-in-container h1{
    padding-bottom: 30px;
}
.sign-in-container span{
	color: gray;
	font-size: 32px;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}
.sign-up-container h5{
	position: absolute;
	/* bottom: 10px; */
	left: 50px;
	top: 610px;
	font-size: 20px;
	font-weight: 100;
}

.sign-up-container .checkbox{
	position: absolute;
	bottom: 27px;
	left: 70px;
	height: 12px;
	width: 12px;
}
.sign-up-container .terms_privacy{
	font-size: 10px;
	font-weight: 100;
	color: blue;
	cursor: pointer;
}
.sign-up-container h4{
	font-size: 10px;
	font-weight: 100;
	margin-top: 10px;
	margin-bottom: 15px;
}
.date{
	margin-top: 10px;
}
span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}
.ghost:hover{
	color: gray;
	cursor: pointer;
}

button {
	border-radius: 20px;
	border: 1px solid #ff4b2b97;
	background-color: black;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 2px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.si_in:hover{
	background-color: gray;
	/* transition-delay: 20s; */
	cursor: pointer;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: rgb(255, 255, 255);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #d8d5d5;
	border: none;
	padding: 12px 15px;
	border-radius: 2px;
	border-width: 2px;
	margin: 8px 0;
	width: 100%;
	height: 30px;
}

.container {

	border-radius: 5px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 150vh;
    display: inline-block;
    padding-top: 30px;
	min-height: 100%;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
    overflow: auto;
}

.sign-in-container img{
	width: 60px;
	height: 60px;
	position: absolute;
	left: 30px;
	top: 20px;
}
.sign-in-container .image h5{
	position: absolute;
	left: 30px;
	top: 80px;
	font-size: 20px;
	font-weight: 100;
}


.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
    margin-top: -10px;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: url(/photo/wallpaperflare.com_wallpaper.jpg) no-repeat center;
	background-size: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

#first_name,#last_name,#email,#password,#confirm_password,#birthday,#signin-email,#signin-password{
	height: 50px;
	font-size: 20px;

}
#confirm_password{
	margin-bottom: 30px;
}