{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{% static "css/login_and_signup.css" %}" >
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"> -->
    <style>
        .messages {
            margin: 10px 0;
            padding: 10px;
        }
        
        .alert {
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 10px;
            font-weight: bold;
            text-align: center;
        }
        
        .alert-error {
            background-color: #ffdddd;
            color: #d8000c;
            border: 1px solid #d8000c;
        }
        
        .alert-success {
            background-color: #ddffdd;
            color: #4caf50;
            border: 1px solid #4caf50;
        }
        
    </style>
</head>
<body >
    
    {% if error == 'true' %}
        <script>alert("{{message}}");</script>
    {% endif %}
    <div class="container" id="container">
        <div class="form-container sign-up-container">

           


            <form id="signup-form" method="post" action="{% url "login" %}">
               
                {% csrf_token %}    
                <h1><span class="create">Create</span> Account</h1>
                <input id="first_name" name="first_name" type="text" placeholder="First Name" required/>
                <input id="last_name" name="last_name" type="text" placeholder="Last Name" required/>
                <input id="email" name="email" type="email" placeholder="Email" required/>
                <input id="password" name="password" type="password" placeholder="Password" required/>
                <input id="confirm_password" name="confirm_password" type="password" placeholder="Confirm Password" required/>
                <button type="submit" class="si_in">Sign Up</button>
            </form>
        </div>
        
        
        <div class="form-container sign-in-container">
            <form id="signin-form" method="post" action="{% url "enter_system" %}">
                <div class="image">
                    <img src="{% static "img/capsule.png" %}" alt="">
                    <h5 style = "font-style: italic;">
                        Capsule
                    </h5>
                </div>
                <h1 >Sign <span>in</span></h1>
                
                {% csrf_token %}
                <input id="signin-email" name="email" type="email" placeholder="Email" />
                <input id="signin-password" name="password" type="password" placeholder="Password" />
                <a href="#">Forgot your password?</a>
                <button type="submit" class="si_in">Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div style="background: url( '{% static "img/back.jpeg" %}') no-repeat center; background-size: 100%;"  class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <SCript>
        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const container = document.getElementById('container');
        
        signUpButton.addEventListener('click', () => {
            container.classList.add("right-panel-active");
        });
        
        signInButton.addEventListener('click', () => {
            container.classList.remove("right-panel-active");
        });
    </SCript>
    
</body>
</html>